@model MeteoAlert.Models.Rubrica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rubrica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mansione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mansione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
